customtkinter==5.2.2
deep_translator==1.11.4
easyocr==1.7.1
matplotlib==3.9.1.post1
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
Requests==2.32.3
torch==2.4.0
magicinpaint-cpu==1.0.2
magicinpaint-gpu==1.0.2
numpy==1.26.4